*{
    margin: 0;
    padding: 0;
}

#loadingScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #3d3d3d;
}

#loadingText{
    position: fixed;
    top: 50%;
    left: 50%;
    color: white;
    width: 500px;
    height: 200px;
    margin-top: -100px;
    margin-left: -250px;
    text-align: center;
}